/* .input-container.invalid, */
.input::placeholder {
  font-size: 1.3rem !important;
}
.input:focus-within {
  outline: none !important;
}
.input-label.invalid {
  color: #ff6701;
}
.input.invalid {
  border-color: #dc3c14;
}

.input.valid {
  border-color: black;
}

.input-label.invalid {
  color: #dc3c14;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
