.radio-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--spacing-10);
  align-items: center;
}

.radio-wrapper > * + * {
  margin-inline-start: 1rem;
}

.radio-outer-circle {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 100vmax;
}

.radio-inner-circle {
  background-color: black;
  width: 0px;
  aspect-ratio: 1/1;
  border-radius: 100vmax;
  transition: all ease 0.1s;
}

.inner-selected {
  width: 10px;
}

.outer-selected {
  border-color: black;
}
