#root {
  height: 100vh;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0e1218;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.hamburger_menu-item-1 {
  transform: rotate(0deg);
  transition: all ease 0.25;
}

.hamburger_menu-item-2 {
  transition: all ease 0.25;
  transform: rotate(0deg);
}

.hamburger_menu-item-1.open {
  transform-origin: 1px 3px;
  transform: rotate(30deg);
}

.hamburger_menu-item-2.open {
  transform-origin: 11px 3px;
  transform: rotate(-30deg);
}
